
#name {
font-family: Centaur, Georgia, Times, serif;
color: crimson
}
#role {
font-family: Centaur, Georgia, Times, serif;
color: crimson
}
#degree {
font-family: Centaur, Georgia, Times, serif;
color: crimson
}
h3 {
font-family: Centaur, Georgia, Times, serif;
color: darkred
}

.webpage {
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
background-color: lightsalmon
}
